../L2_test/
	../awesomeProject/
	../awesomeProject1/
	../dockerProject/
	../events/
	../github.com/
	../go.etcd.io/
	../go.uber.org/
	../goMarketProject/
	../golang.org/
	../gopkg.in/
	../pkg/
	../shop/
	../shopG/
	../taskL0/
	../../../jbr_err_pid2393.log
	../../../matlab_crash_dump.10184-1
	../../../matlab_crash_dump.25110-1